name: fetch-actions
on:
  schedule:
    - cron: "38 21 * * *"
  workflow_dispatch:
    inputs:
      created:
        description: "created parameter of https://docs.github.com/en/rest/reference/actions#list-workflow-runs--parameters"
        required: true

jobs:
  fetch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v6
        with:
          go-version: "1.25"

      - name: Build gham
        run: |
          git clone --depth 1 https://github.com/teleivo/github-action-metrics.git /tmp/gham
          cd /tmp/gham && go build -o /tmp/gham/bin/gham ./cmd/gham

      - name: Fetch and commit GitHub action data
        run: |
          export TODAY=$(date +'%Y-%m-%d')
          echo "Fetch GitHub workflow data created on ${CREATED:-$TODAY}"
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

          /tmp/gham/bin/gham fetch runs -owner dhis2 -repo dhis2-core -with-jobs -destination ./data -token ${{ secrets.GITHUB_TOKEN }} -created ${CREATED:-$TODAY} -workflow-id 10954
          git add data
          git commit -m "chore: fetch GitHub action data for workflow 10954" || true

          /tmp/gham/bin/gham fetch runs -owner dhis2 -repo dhis2-core -with-jobs -destination ./data -token ${{ secrets.GITHUB_TOKEN }} -created ${CREATED:-$TODAY} -workflow-id 5591308
          git add data
          git commit -m "chore: fetch GitHub action data for workflow 5591308" || true

          git push
        env:
          CREATED: ${{ github.event.inputs.created }}
