name: fetch-actions
on:
  schedule:
    - cron: "38 21 * * *"
  workflow_dispatch:
    inputs:
      created:
        description: "created parameter of https://docs.github.com/en/rest/reference/actions#list-workflow-runs--parameters"
        required: true

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

jobs:
  fetch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version: "1.25"
          cache: false # no go.sum in this repo

      - name: Install gham
        run: go install github.com/teleivo/github-action-metrics/cmd/gham@v0.1.1

      - name: Fetch and commit GitHub action data
        run: |
          export TODAY=$(date +'%Y-%m-%d')
          echo "Fetch GitHub workflow data created on ${CREATED:-$TODAY}"
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

          gham fetch runs -owner dhis2 -repo dhis2-core -with-jobs -destination ./data -created ${CREATED:-$TODAY} -workflow-id 10954
          git add data
          git commit -m "chore: fetch GitHub action data for workflow 10954" || true

          gham fetch runs -owner dhis2 -repo dhis2-core -with-jobs -destination ./data -created ${CREATED:-$TODAY} -workflow-id 5591308
          git add data
          git commit -m "chore: fetch GitHub action data for workflow 5591308" || true

          git push
        env:
          CREATED: ${{ github.event.inputs.created }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
